*{
    box-sizing: border-box;
}


a.carousel-item, 
a.carousel-item.active {
    max-height: min-content;
}

 .container {
    min-height: 80vh;
    overflow: hidden;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.card-carousel {
    height: 250px !important;
}

/*
.carousel-item img {
    transform: rotate(-90deg);
}

 */

body {
    background-image: url('../img/Group.png');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 7%;
}