*{
    box-sizing: border-box;
}


.container {
    margin-top: 100px !important;
    height: 100% !important;
    width: 100% !important;
    transform: rotate(90deg) !important;
}

.carousel-item img {
    transform: rotate(-90deg);
}

.carousel-item {
    width: 350px !important;
}